[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyzmq = "*"
numpy = "*"
opencv-python = "*"
screeninfo = "*"
msgpack = "*"
# For win32gui, win32ui, win32con
pywin32 = "*"

[dev-packages]

[requires]
python_version = "3.12"