[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyzmq = "*"
flask = "*"
flask-socketio = "*"
python-socketio = "*"
psutil = "*"

[dev-packages]

[requires]
python_version = "3.12"
